.product-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}



.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

.product-card p {
    margin: 5px 0;
    color: #777;
}





.header-content-item {

    padding-top: 140px;
    text-align: center;
    text-transform: capitalize;
    color:rgb(237, 237, 187);
}



h1 {
    font-size: 56px;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    line-height: 1.2;
    color: beige;

}



.paragraphone {
    color: beige;
    font-size: 1.15rem;
    margin: auto;
    width: 60%;
    margin-bottom: 50px;
}



.line {
    width: 40px;
    height: 0.2rem;
    display: block;
    background-color: var(--mainColor);
    margin: 1.5rem auto;
    opacity: 1;

}

.link {

    text-decoration: none;
    margin-top: 100px;
    color: white;
    display: block;
    background-color: var(--mainColor);
    width: fit-content;
    text-align: center;
    margin: 30px auto;
    padding: 20px 20px;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 700;
    font-family: Merriweather Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.header .overley {
    background: linear-gradient(to bottom, rgba(95, 90, 86, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%);
    height: 100%;
}




.slideshow{
    /* padding-top: 100px; */
    padding-bottom: 50px;
    width: 1000px;
    margin: auto;
    overflow: hidden;
}
.gallery{
    display: flex;
    animation: sliding 30s infinite;
    width: 1500px;
}
@keyframes sliding {
    0%{
        transform: translate(0px);
    }
   
    50%{
        transform: translate(-1000px);
    }
    75%{
        transform: translate(-2000px);
    }
    100%{
        transform: translate(-3000px);
    }
}
.w1{
    width:fit-content;
    height:90%;
}
.w2{
    width: fit-content;
    height:90%;

}.w3{
    width: fit-content;
    height:90%;

}.w4{
    width: fit-content;
    height:90%;

}
.para3 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.Services .line {
    margin-bottom: 80px;

}

.line {
    width: 40px;
    height: 0.2rem;
    display: block;
    background-color: var(--mainColor);
    margin: 1.5rem auto;
    opacity: 1;

}

.Services {
    text-align: center;
    padding-top: 100px;
    background-color: #fff;
    color: #f0ad4e;
}

.Service-item {
    float: left;
    width: 25%;
    margin-bottom: 50px;
     color: #f0ad4e;

}
@media(max-width:786px) {
.Service-item{
    
    float: none;
    width: 100%;
    margin-bottom: 20px;
}

}
.Services-items {
    overflow: auto;
}

.Service-item i {
    font-size: 45px;
    color: var(--mainColor);
    margin-bottom: 20px;


}

.Service-item h3 {
    margin-bottom: 10px;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 24px;
    font-weight: 500;
    /* width: 71%; */
}

.Service-item p {
    width: 83%;
    margin: auto;
    font-size: 18px;
    margin-top: 10px;
    color: #6c757d;
    color: #f0ad4e;

}
